In [3]:
import pandas as pd
import numpy as np

df=pd.DataFrame({
    'name':['kwon','park','kim'],
    'age':[30,np.nan,19],
    'class':[np.nan, np.nan,1]
})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   class   1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

In [5]:
df.dropna()

  name   age  class
2  kim  19.0    1.0

In [6]:
df.fillna(0)

   name   age  class
0  kwon  30.0    0.0
1  park   0.0    0.0
2   kim  19.0    1.0