In [3]:
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

In [46]:
train=pd.read_csv('./train.csv')
test=pd.read_csv('./test.csv')

In [5]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [6]:
train.tail()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [7]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [31]:
train['hour_bef_windspeed'].mean()

2.4790344827586246

In [47]:
X_train=train.drop(['hour_bef_pm2.5','hour_bef_pm10','hour_bef_ozone','count'], axis=1).fillna(0)

In [48]:
X_train.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
dtype: int64

In [49]:
Y_train=train['count']

In [50]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   float64
 3   hour_bef_precipitation  1459 non-null   float64
 4   hour_bef_windspeed      1459 non-null   float64
 5   hour_bef_humidity       1459 non-null   float64
 6   hour_bef_visibility     1459 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 79.9 KB

In [51]:
model=DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

In [52]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [53]:
test1=test.drop(['hour_bef_pm2.5','hour_bef_pm10','hour_bef_ozone'], axis=1).fillna(0)

In [54]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
dtypes: float64(5), int64(2)
memory usage: 39.2 KB

In [55]:
pred=model.predict(test1)

In [56]:
pred

array([106., 324.,  27.,  18.,   2.,  97., 171., 300.,  53., 222., 252.,
       219.,  41.,  36., 193., 229.,  30., 199., 380., 235., 324., 106.,
        20., 107., 189., 115.,  27., 118.,  97., 229.,  30.,  30.,  74.,
       189., 278.,  37., 147.,  52., 324.,  82.,  46., 118., 215.,  72.,
       319., 221.,  82.,  62.,  27.,  98., 176.,  98.,  57.,  93., 225.,
        57.,  36., 235.,  27.,  17., 106.,  99., 316., 252., 153., 319.,
         9., 324.,   5.,  14., 115.,  50., 267.,  15., 319., 246.,  49.,
       127., 332.,  13., 205., 133.,  87.,  98., 109., 293.,  63., 189.,
        98., 252., 293., 281.,  63.,  92.,  50.,  98., 108.,  31., 241.,
       153.,  19., 127.,  46., 137.,  82.,  36.,  92.,  20., 227., 140.,
       324., 148., 153.,  95.,  63., 121., 252.,  50., 256.,  19.,  90.,
       124., 199., 102.,  52., 129.,  46.,  27., 302.,  46., 121., 226.,
        27., 130., 271., 229.,  39., 121., 293., 425., 208.,  34.,  37.,
        71.,  76., 115.,  82., 129.,  97., 227.,  92., 310., 300., 324.,
         5.,   9., 129.,   9., 104., 108., 133.,  20., 249., 324., 189.,
         9., 316., 226., 252.,  16., 124.,  91.,  98., 189.,  95.,  66.,
       252., 199., 324., 105., 256., 267., 189., 287., 107.,  91.,  98.,
       317., 256.,  39.,  42., 227., 137.,  93., 121., 148., 300., 229.,
       113.,  88.,  15., 305.,  15., 300.,  92.,  19., 124., 252., 199.,
        77., 331., 267., 119., 191., 199., 119., 201., 124., 189.,  98.,
       103.,  27.,  95.,  84., 138.,  42., 190., 261.,  37., 222., 252.,
       137.,  16.,  82., 109.,  92., 425., 317., 152., 127.,  19., 258.,
        14.,  97., 140.,  95.,   5., 232., 108.,  13.,  87., 324., 232.,
       222.,  97., 267.,  34., 342.,  91.,  19., 127.,  30., 241.,  14.,
        57., 218.,  27., 324.,  98., 219., 125., 127.,  46., 331.,  16.,
       271., 104., 199., 215.,  40., 252.,  92.,  15., 304., 222., 124.,
       227., 227.,  79., 109., 115., 205., 267., 121., 142.,  19., 235.,
        40., 205.,  16.,  87., 247., 213., 227., 431., 246.,  97.,  46.,
        97.,  98., 252., 205., 213.,  53., 205., 150.,   5.,  40.,  34.,
        19., 199.,  40., 131., 232., 127., 425., 252.,  90.,  74.,  43.,
        15., 127.,  46., 165., 150.,  53., 218., 252., 120., 425.,  20.,
        16., 293., 275., 108.,   9.,  18.,  95., 113., 335., 199., 324.,
        82.,  39., 213.,  53.,  16.,  16.,  92.,  88.,  49., 227., 193.,
       212., 167.,  32.,  82.,  87.,  27., 226.,  93.,  18., 218., 293.,
       233.,  16.,  40., 227., 127.,  53., 191., 108., 271., 252., 113.,
        82., 125., 235., 137., 127.,  42.,   5., 252.,  29., 135., 108.,
       252.,  34.,  32., 207.,  27., 121.,  13., 205., 127.,  75., 199.,
       222.,  94., 135., 237., 278., 153., 114.,  39., 189., 324., 108.,
        29.,  39.,  19.,  29.,  19.,  46., 189., 132.,  83., 324., 132.,
       398., 120., 150., 252., 105., 135., 199., 331.,  30., 111., 398.,
       244., 140.,  42., 100., 105., 117.,  92.,  42., 317., 252., 201.,
       114., 145., 127., 229., 102., 127., 106.,  30., 108., 199., 119.,
       137.,  94., 100., 125., 252.,  66., 257., 287., 218.,  29., 277.,
        66., 169.,  97.,  16.,  33., 199., 252.,  90., 117.,  20.,  16.,
       248.,  97., 366., 252.,  94., 140., 302., 150.,  49.,  82.,  20.,
       241.,  93., 188., 310., 324.,  16., 256.,  39.,  88.,  30., 324.,
       324.,  24., 140.,  18., 316., 199., 198., 199., 402.,  95.,  33.,
       127., 121., 199.,  15., 221.,  21.,  39.,  17.,  23.,  46., 199.,
       143., 189.,  53.,  82.,  33., 252.,  66.,  37.,  95.,  17.,  33.,
        33., 252.,  11., 235., 244., 293., 127., 114., 241., 100., 117.,
       198.,  33.,  24., 153.,  22., 236., 153.,  53.,   5., 324., 324.,
       342.,  27.,  95.,  33.,  37.,  95., 117.,  20., 120.,  94., 309.,
       119., 300., 246., 252., 229., 252.,  82.,  37.,  19.,  28., 100.,
        17.,  16.,  93.,  16., 252., 274., 189., 100., 121.,  34., 120.,
       103., 161., 324.,  14., 205., 119.,   2., 148., 100.,  70., 117.,
       172., 236., 425., 271., 205., 127., 127.,  22.,  94., 161.,  24.,
        51.,  61., 318., 236.,  39., 139.,  83., 193., 135., 317.,  49.,
        37.,  13., 324., 205.,  86., 115.,  27., 100., 102., 104., 105.,
       106.,  53., 135.,  92.,  49.,  79., 317., 119., 252., 102., 252.,
       199.,  82.,  79.,  83.,   1., 324., 252., 100., 108.,  92.,  27.,
       126., 252.,  27.,  71., 111.,  79., 236., 119., 293.,  90.,  90.,
       189., 324., 109., 236.,  97.,  37., 236.,  14.,  19.,  14., 127.,
       100.,  97., 252., 229., 116.,  27., 241.,  11.,  97.,  46.,  53.,
        95.,  39., 218.,  35.,  43., 127.,  37., 280., 248.,  13., 425.,
       114., 213.,  34.,  80.,  24., 304.,  29.,  49., 135., 213., 236.])

In [57]:
submission=pd.read_csv('./submission.csv')

In [58]:
submission['count']=pred

In [59]:
submission.to_csv('sub.csv',index=False)