In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame({
    'name':['kwon','park','kim'],
    'age':[30,np.nan,19],
    'class':[np.nan, np.nan,1]
})

df.isnull()

    name    age  class
0  False  False   True
1  False   True   True
2  False  False  False

In [2]:
df.isnull().sum()

name     0
age      1
class    2
dtype: int64