In [1]:
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
train=pd.read_csv('./train.csv')
test=pd.read_csv('./test.csv')

In [3]:
train.shape

(891, 12)

In [4]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# 첫번째 제출

In [2]:
train['Age'].fillna(int(train['Age'].mean()), inplace=True)

In [8]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
train['Age'].head(20)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5     29.0
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17    29.0
18    31.0
19    29.0
Name: Age, dtype: float64

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
train['Sex']=train['Sex'].replace('male', 0)

In [4]:
train['Sex']=train['Sex'].replace('female', 1)

In [5]:
train['Sex'].head(10)

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Sex, dtype: int64

In [6]:
train['Embarked']=train['Embarked'].replace('Q',0)
train['Embarked']=train['Embarked'].replace('C',1)
train['Embarked']=train['Embarked'].replace('S',2)
train['Embarked']

0      2.0
1      1.0
2      2.0
3      2.0
4      2.0
      ...
886    2.0
887    2.0
888    2.0
889    1.0
890    0.0
Name: Embarked, Length: 891, dtype: float64

In [7]:
train['Embarked']=train['Embarked'].fillna(1)

In [8]:
train['Cabin'].head(70)

0      NaN
1      C85
2      NaN
3     C123
4      NaN
      ...
65     NaN
66     F33
67     NaN
68     NaN
69     NaN
Name: Cabin, Length: 70, dtype: object

In [9]:
X_train=train.drop(['PassengerId','Survived','Name','Ticket','Cabin'], axis=1)
Y_train=train['Survived']

In [38]:
model=DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

In [10]:
test['Sex']=test['Sex'].replace('male', 0)
test['Sex']=test['Sex'].replace('female', 1)
test['Sex']

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Sex, Length: 418, dtype: int64

In [11]:
test['Embarked']=test['Embarked'].replace('Q',0)
test['Embarked']=test['Embarked'].replace('C',1)
test['Embarked']=test['Embarked'].replace('S',2)
test['Embarked']

0      0
1      2
2      0
3      2
4      2
      ..
413    2
414    1
415    2
416    2
417    1
Name: Embarked, Length: 418, dtype: int64

In [12]:
test['Embarked']=test['Embarked'].fillna(1)

In [13]:
test['Age'].fillna(int(test['Age'].mean()), inplace=True)

In [14]:
test['Fare'].fillna(int(test['Fare'].mean()), inplace=True)

In [15]:
test_1=test.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)

In [25]:
X_train.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [26]:
pred=model.predict(test_1)

In [27]:
test_1.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [28]:
sub=pd.read_csv('./submission.csv')

In [29]:
sub['Survived']=pred

In [30]:
sub.to_csv('sub.csv',index=False)

# 두번째 제출

In [40]:
model.feature_importances_

array([0.11145424, 0.31412978, 0.24433583, 0.04277106, 0.02297719,
       0.2532678 , 0.0110641 ])

In [41]:
X_train_2=X_train.drop(['Embarked'], axis=1)
test_2=test_1.drop(['Embarked'], axis=1)

In [43]:
model=DecisionTreeRegressor()
model.fit(X_train_2, Y_train)
pred=model.predict(test_2)

In [45]:
model.feature_importances_

array([0.12093668, 0.31455994, 0.23398545, 0.04682305, 0.03707105,
       0.24662382])

In [44]:
sub=pd.read_csv('./submission.csv')
sub['Survived']=pred
sub.to_csv('sub_2.csv',index=False)

# 세번째 제출

In [47]:
X_train_3=X_train.drop(['Embarked','Parch'], axis=1)
test_3=test_1.drop(['Embarked','Parch'], axis=1)

In [48]:
model=DecisionTreeRegressor()
model.fit(X_train_3, Y_train)
pred=model.predict(test_3)

In [49]:
model.feature_importances_

array([0.11018022, 0.31564608, 0.22750291, 0.05064231, 0.29602848])

In [50]:
sub=pd.read_csv('./submission.csv')
sub['Survived']=pred
sub.to_csv('sub_3.csv',index=False)

# 네번째 제출

In [16]:
X_train_4=X_train.drop(['Embarked','Parch','SibSp'], axis=1)
test_4=test_1.drop(['Embarked','Parch','SibSp'], axis=1)

In [52]:
model=DecisionTreeRegressor()
model.fit(X_train_4, Y_train)
pred=model.predict(test_4)

In [53]:
model.feature_importances_

array([0.12579812, 0.31649764, 0.24103894, 0.31666531])

In [55]:
sub=pd.read_csv('./submission.csv')
sub['Survived']=pred
sub.to_csv('sub_4.csv',index=False)

# 다섯번째 제출

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [56]:
model=RandomForestRegressor(criterion='mse')
model.fit(X_train_4, Y_train)

RandomForestRegressor()

In [57]:
model.feature_importances_

array([0.11208674, 0.31029135, 0.26647562, 0.31114629])

In [60]:
pred=model.predict(test_4)

In [61]:
sub=pd.read_csv('./submission.csv')
sub['Survived']=pred
sub.to_csv('sub_5.csv',index=False)